<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="example.mapper.ClassMapper">

    <select id="selectClassWithId" resultMap="classResultMapper">
        SELECT * FROM TB_CLASS where id = #{id}
    </select>
    <resultMap id="classResultMapper" type="example.pojo.mybatis.Class">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <!-- 一对多关联映射:collection fetchType="lazy"表示懒加载  -->
        <collection property="students" javaType="ArrayList"
                    column="id" ofType="example.pojo.mybatis.Student"
                    select="example.mapper.StudentMapper.selectStudentByClassId"
                    fetchType="lazy">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="age" column="age"/>
        </collection>
    </resultMap>
</mapper>