<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="example.mapper.UserMapper">

    <!--
        id="save"是唯一的标示符
        parameterType属性指明插入时使用的参数类型
        useGeneratedKeys="true"表示使用数据库的自动增长策略
     -->
    <insert id="saveUser" parameterType="example.pojo.mybatis.User" useGeneratedKeys="true">
        INSERT INTO TB_USER(name,sex,age)
        VALUES(#{name},#{sex},#{age})
    </insert>
    <select id="selectOneUser" parameterType="int" resultType="example.pojo.mybatis.User">
        SELECT * FROM TB_USER WHERE id = #{id}
    </select>
    <update id="updateUser" parameterType="example.pojo.mybatis.User">
        UPDATE TB_USER
        SET name=#{name},sex=#{sex},age=#{age}
        WHERE id = #{id}
    </update>
    <delete id="deleteUser" parameterType="int">
        DELETE FROM TB_USER WHERE id=#{id}
    </delete>

    <!--result map-->
    <select id="selectUser1" resultType="map">
        SELECT * FROM TB_USER
    </select>

    <!--resultmap,数据库表和java对象的mapping文件-->
    <resultMap id="userResultMap" type="example.pojo.mybatis.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
    </resultMap>
    <!--推荐使用pojo返回resultmap-->
    <select id="selectUser2" resultMap="userResultMap">
        SELECT * FROM TB_USER
    </select>

    <!-- 映射学生对象的resultMap -->
    <resultMap id="studentResultMap" type="example.pojo.mybatis.Student">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <!-- 关联映射 -->
        <association property="aClass" column="class_id"
                     javaType="example.pojo.mybatis.Class"
                     select="selectClazzWithId"/>
    </resultMap>
    <!-- 根据班级id查询班级 -->
    <select id="selectClazzWithId" resultType="example.pojo.mybatis.Class">
        SELECT * FROM TB_CLASS where id = #{id}
    </select>
    <!-- 查询所有学生信息 -->
    <select id="selectStudent" resultMap="studentResultMap">
        SELECT * FROM TB_STUDENT
    </select>

    <!-- 映射班级对象的resultMap -->
    <resultMap id="classResultMap" type="example.pojo.mybatis.Class">
        <id property="id" column="id" />
        <result property="code" column="code"/>
        <!-- 班级的学生属性，因为一个班级有多个学生，所以该属性是一个集合 -->
        <collection property="students" javaType="ArrayList"
                    column="id" ofType="example.pojo.mybatis.Student"
                    select="selectStudentWithId"/>
    </resultMap>

    <!-- 根据班级id查询学生 -->
    <select id="selectStudentWithId" resultType="example.pojo.mybatis.Student">
        SELECT * FROM TB_STUDENT where class_id = #{id}
    </select>

    <!-- 查询所有班级信息 -->
    <select id="selectClass" resultMap="classResultMap">
        SELECT * FROM TB_CLASS
    </select>

</mapper>